@import '../../../styles/mixins';
.voting-power-wrapper {
  padding: 28px 24px;
  // border-color: rgba(var(--dark), 0.15);
  // border-width: 1px;
  border-radius: 12px;
  width: 100%;
  background: #202240;
  .power-heading {
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(var(--dark), 0.6);
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 12px;
  }
  .bullet-point {
    background-color: rgba(var(--brand), 0.9);
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
  }
  .power-percent {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }
  .staked-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(var(--dark), 0.75);
    // margin-top: 12px;
    display: inline-flex;
    align-items: center;
    .user-balance {
      margin-right: 4px;
    }
  }
}
