$bg-white: linear-gradient(180deg, #16162C 0%, rgba(22, 22, 44, 0.81) 100%);
$bg-shadow-white: linear-gradient(
  rgba(174, 174, 174, 0.4) 0%,
  rgba(17, 18, 19, 0) 100%
);
$border-color: rgba(28, 136, 242, 0.05);
$dark: 148, 150, 183;
$breakpoint: 992px;
