.vote-list-wrapper {
  width: 100%;
  margin-top: 24px;
  padding-top: 26px;
  font-family: 'HK Grotesk';
  .heading-votes {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .subheading-votes {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(var(--dark), 0.95);
    margin: 8px 0 28px 0;
  }
  .vote-header {
    background: unset!important;
    padding: 0 0 14px 0!important;
    .voter, .vote-style, .power {
      color: #7577A2!important;
      font-weight: 600;
      font-size: 12px!important;
      line-height: 22px;
    }
    .vote-style {
      display: flex;
      justify-content: center;
      width: 20%;
    }
  }
  .vote-item {
    width: 100%;
    background: linear-gradient(180deg, #212340 0%, #16172C 100%);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 24px;
    &:hover {
      background-color: rgba(var(--dark), 0.2);
      cursor: pointer;
    }
    .voter {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #FFFFFF;
      width: 60%;
    }
    .power {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #FFFFFF;
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }
    .yes-style {
      color: #8AE5B4;
      display: flex;
      justify-content: center;
      width: 20%;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
    .no-style {
      color: #F5919E;
      display: flex;
      justify-content: center;
      width: 20%;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
    .abstain-style {
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      width: 20%;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }
    .bg-status {
      background: #2E3156;
      border-radius: 4px;
      padding: 3px 10px;
    }
  }
}
