@import '../../styles/variables';
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: none !important;

}
.DashBoardLayout {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .site-layout {
    transition: all 0.2s;
  }
  .main-content {
    // background: $bg-white !important;
    min-height: calc(100vh - 64px);
  }
}

@media screen and (max-width: 600px) {
  .DashBoardLayout {
    overflow: hidden !important;
    .main-content {
      min-height: calc(100vh - 64px);
    }
    // .site-layout {
    //   margin-left: 80px !important;
    // }
  }
}
